results/idObfuscation_salt.php
backend/getIP_serverLocation.php
db-dir/
.vscode/
node_modules/
package-lock.json
results/speedtest_telemetry.db
results/speedtest_telemetry.db-shm
results/speedtest_telemetry.db-wal
results/telemetry_settings.php
